In [2]:
import pandas as pd
import numpy as  np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [5]:
x=df.drop(columns=['target'])
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [6]:
y=df['target']
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [8]:
x_scaled

array([[-0.26843658,  0.66150409, -0.91575542, ...,  0.99543334,
         1.20922066,  1.08985168],
       [-0.15815703,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       [ 1.71659547,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       ...,
       [-0.81983438,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459, -0.52212231],
       [-0.4889957 , -1.51170646, -0.91575542, ...,  0.99543334,
        -0.73197147, -0.52212231],
       [-0.04787747,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459,  1.08985168]])

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.30,random_state=42)

In [11]:
# logistic regression

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()
model.fit(x_train,y_train)
y_predicted = model.predict(x_test)

In [14]:
log=model.score(x_test,y_test)
log

0.8051948051948052

In [15]:
# knn

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [17]:
knn=KNeighborsClassifier(metric="minkowski")
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)

In [18]:
KNN=accuracy_score(y_test, y_pred)
KNN

0.8571428571428571

In [19]:
#SVM

In [20]:
from sklearn.svm import SVC
classifier=SVC(kernel='sigmoid')
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [21]:
svm=accuracy_score(y_test,y_pred)
svm

0.7662337662337663

In [22]:
# Naive Bayes

In [23]:
from sklearn.naive_bayes import GaussianNB

In [24]:
clf=GaussianNB()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [25]:
Naive_bayes=accuracy_score(y_test,y_pred)
Naive_bayes

0.814935064935065

In [26]:
#Decision Tree

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [28]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
clf=DecisionTreeClassifier()  # taking default parameter values as max_depth=5,split criteria=ginni index
clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

In [31]:
d_tree=accuracy_score(Y_test,y_pred)
d_tree

0.9707792207792207

In [32]:
# Random Forest

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
rand_clf = RandomForestClassifier()
rand_clf.fit(X_train,Y_train)

RandomForestClassifier()

In [37]:
y_pred=rand_clf.predict(X_test)

In [38]:
Random_forest=accuracy_score(Y_test,y_pred)
Random_forest

0.9805194805194806

In [39]:
# Ada boost

In [40]:
from sklearn.ensemble import AdaBoostClassifier

In [41]:
adbst=AdaBoostClassifier()
adbst.fit(X_train,Y_train)
y_pred=adbst.predict(X_test)

In [43]:
Adaboost=accuracy_score(Y_test,y_pred)
Adaboost

0.8733766233766234

In [ ]:
# Gradient Boosting

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

In [45]:
gbr= GradientBoostingClassifier()
gbr.fit(X_train,Y_train)
pred_y=gbr.predict(X_test)

In [46]:
gradient_boost=gbr.score(X_test,Y_test)
gradient_boost

0.9512987012987013

In [47]:
# XG Boost

In [48]:
from xgboost import XGBClassifier

In [49]:
xgb= XGBClassifier()
xgb.fit(X_train, Y_train)
y_pred= model.predict(X_test)

C:\Users\Tarun\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [50]:
Xtremeboost=accuracy_score(Y_test, y_pred)
Xtremeboost

0.5162337662337663

In [51]:
models=['Logistic_Regression','KNN','SVM','Naive_Bayes','Decision_Tree','Random_forest','Adaboost','Gradientboost','Xtremeboost']
performance=[log,KNN,svm,Naive_bayes,d_tree,Random_forest,Adaboost,gradient_boost,Xtremeboost]

In [52]:
pd.DataFrame({'Models':models,"Performance":performance})

                Models  Performance
0  Logistic_Regression     0.805195
1                  KNN     0.857143
2                  SVM     0.766234
3          Naive_Bayes     0.814935
4        Decision_Tree     0.970779
5        Random_forest     0.980519
6             Adaboost     0.873377
7        Gradientboost     0.951299
8          Xtremeboost     0.516234